
<html ng-app="onlineResume">
<head>
  <title>Zack Argyle</title>
  <meta name="viewport" content="width=device-width, height=device-height" >
  <link rel="icon" type="image/png" href="images/verisage.jpg">

  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/index.css"/>

  <script src="lib/angular.min.js"></script>
  <script src="lib/ui-bootstrap-tpls-0.3.0.min.js"></script>
  <script src='lib/firebase.js'></script>

</head>
<body ng-controller="mainCtrl" id="welcome" ng-show="ready" scroll-watch>

  <div id="nav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container" style="width:100%">
        <a class="brand" href="#"></a>
        <a class="brand" href="https://www.facebook.com/zackargyle"><img src="images/navbar/facebook.png"></a>
        <a class="brand" href="https://github.com/zackargyle"><img src="images/navbar/git-hub.png"></a>
        <a class="brand" href="http://www.linkedin.com/in/zackargyle"><img src="images/navbar/linked-in.png"></a>
        <a class="brand" href="http://stackoverflow.com/users/2642809/zack-argyle"><img src="images/navbar/stack-overflow.png"></a>
        <a class="brand" href="http://jsfiddle.net/user/zargyle/fiddles/"><img src="images/navbar/jsfiddle.png"></a>
      </div>
    </div>
  </div>

  <carousel interval="3500" id="carousel1">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="images/carousel/{{slide.image}}.png" style="margin:auto;" ng-click="scrollTo(slide.image)">
      <div class="carousel-caption">
        <h4>{{slide.title}}</h4>
      </div>
    </slide>
  </carousel>

  <!-- About Me -->
  <header id="about-header"></header>
  <div id="about-container">
    <div id="about">
      <div class="row" id="about-text">
        <div>
          <img class="img-circle" src="images/verisage.png" width="30%" height="30%">
          <h2>Two Years Experience</h2>
          <p>Over the past two years I have spent time working in a multitude of languages like C, C++, Java, Python, <b>Javascript</b>, HTML, and CSS. I have experience working in frameworks like <b>AngularJS</b>, jQuery, Django, and native Android development. I'm continuously trying out new frameworks and coding styles.</p>
        </div>
        <div>
          <img class="img-circle" src="images/harman.png" width="30%" height="30%">
          <h2>Hardware and Software</h2>
          <p>I graduate this April in <b>Electrical Engineering</b> with an emphasis in <b>Computer Systems</b>. I worked as an <b>Engineering Intern</b> with Harman Signal Processing working on circuit development for professional audio equipment, and currently as a <b>Software Consultant</b> for Verisage (custom web and mobile applications). Both worlds fascinate me, but software won my heart in the end.</p>
        </div>
        <div>
          <img class="img-circle" src="images/byu.png" width="30%" height="30%">
          <h2>Business Meet Tech</h2>
          <p>I serve as a <b>Mentor</b> for the Dojo Dev Camp, and am the <b>Founder</b> and <b>President</b> of the Brigham Young University's <b>Business-Minded Engineers</b> club, where we learn from successful business professionals that graduated from a technical field. I have been in leadership positions my whole life, and hope to continue in the future.</p>
        </div>
      </div>
      <div id="statistics-container">
        <table id="statistics">
          <thead>
            <tr>
              <th colspan="2">Live Statistics<img src="images/stats.png" width="10%" style="opacity: .7; margin: 0 0 4% 4%"></th>
            </tr>
          </thead>
          <tr>
            <td><a href="http://stackoverflow.com/users/2642809/zack-argyle">StackOverflow</a></td>
            <td>{{stackRep}} reputation</td>
          </tr>
          <tr>
            <td><a href="https://github.com/zackargyle">Github</a></td>
            <td>{{gitStars}} stargazers</td>
          </tr>
          <tr>
            <td><a href="http://saas.byu.edu/calendar/2014.php">Graduation</a></td>
            <td>{{graduation}} days!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
    
  <!-- Code Snippets -->
  <header id="code-header"></header>
  <div id="code-container">
    <h1>Code Samples</h1>
    <div id="code-paragraph">Through work and school I've been able to work with a lot of languages. I have experience in C, C++, Java, JavaScript, Python, AngularJS, JQuery, Django, HTML5, CSS3, VHDL, Android, Bootstrap, JSON, XML, REST, AJAX, SQL, MVC, OOP, APIs, Git, and agile development (SCRUM). Check out some samples. Click an image on the nav bar to learn more about me, and see more code samples.</div>
    <div id="code-paragraph-click">Click on a language to see a sample.</div>
    <div id="code" ng-controller="codeCtrl">
      <img class="code-snippet javascript" ng-repeat="snippet in snippets" ng-src="snippets/{{snippet}}.png" ng-click="openModal(snippet)" >
    </div>
  </div>

  <!-- Firebase Real-time Messages -->
  <header id="message-header"></header>
  <div id="message-container">
    <div id="message" ng-controller="messageCtrl">
        <h3>Say hey, ask a question, or real-time chat with your girlfriend.</h3>
        <div>
          <form id="message-add">
            <input type="text" ng-model="name" placeholder="Name">
            <input type="text" ng-model="text" placeholder="Message">
            <input type="button" class="btn btn-default glyphicon-send" ng-click="addMessage()">
          </form>
          <div id="message-list">
            <div class="message-text" ng-repeat="message in messages|orderBy:'id':true" ng-hide="$index > 4">
              <div><b>{{message.name}}:</b> {{message.text}}</div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <header id="game-header">Collect all 5 coins!</header>
  <div id="game-container">
    <!-- Absolute Positioned Game Canvas -->
    <div id="game" ng-controller="gameCtrl">
      <canvas id="game-canvas"></canvas>
      <div class="collision-class game-block" id="game-block0"></div>
      <div class="collision-class game-block"id="game-block1"></div>
      <div class="collision-class game-block"id="game-block2"></div>
      <div class="collision-class game-block" id="game-block3" move></div>
      <div class="collision-class coin" id="coin1" coin></div>
      <div class="collision-class coin" id="coin2" coin></div>
      <div class="collision-class coin" id="coin3" coin></div>
      <div class="collision-class coin" id="coin4" coin></div>
      <div class="collision-class coin" id="coin5" coin></div>
      <div class="collision-class" id="game-cliff-top"></div>
      <div class="collision-class" id="game-cliff-bottom"></div>
      <div class="secret" id="game-cliff"></div>
      <div id="game-start" ng-click="startGame()">{{button}}</div>
    </div>
  </div>

   <script>
    // Test for mobile device
    var pattern = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i;
    window.isMobile = pattern.test(navigator.userAgent);
   </script>

  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/platformer.js"></script>

  <div id="preload">
   <img src="images/background/train.jpg" width="1" height="1" alt="Image 01" />
   <img src="images/background/seattle.jpg" width="1" height="1" alt="Image 02" />
   <img src="images/background/siblings.jpg" width="1" height="1" alt="Image 03" />
   <img src="images/background/goofy.jpg" width="1" height="1" alt="Image 04" />
  </div>

  </body>

</html>